# Лабораторная работа по теме: "Сбор и подготовка данных с помощью языка Python"

In [26]:
import pandas as pd
import numpy as np
import sqlalchemy as sql
import sqlite3

In [2]:
pip install odfpy

Collecting odfpy
  Downloading odfpy-1.4.1.tar.gz (717 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 717.0/717.0 kB 4.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: defusedxml in /usr/local/lib/python3.10/dist-packages (from odfpy) (0.7.1)
Building wheels for collected packages: odfpy
  Building wheel for odfpy (setup.py) ... done
  Created wheel for odfpy: filename=odfpy-1.4.1-py2.py3-none-any.whl size=160672 sha256=ff25445f4deadb08bde94234ebcb40f6ad3f3960eb3aedc32cc32b9693fceb90
  Stored in directory: /root/.cache/pip/wheels/c8/2e/95/90d94fe33903786937f3b8c33dd88807f792359c6424b40469
Successfully built odfpy
Installing collected packages: odfpy
Successfully installed odfpy-1.4.1

### Задание №1

Для заданий этого занятия требуется загрузить датасет 'Employee_Salary_Dataset.ods' ([страница датасета на Kaggle](https://www.kaggle.com/datasets/anninasimon/employee-salary-dataset)). Датасет можно загрузить из директории datasets. Нужные данные находятся на листе 'Sheet1'. В датасете содержатся срез данных о зарплатах различных сотрудников. Загрузите эти данные в виде датафрейма.

In [3]:
df_employee=pd.read_excel('./Employee_Salary_Dataset.ods', sheet_name='Sheet1')
df_employee

    ID  Experience_Years  Age  Gender    Salary
0    1                 5   28  Female    250000
1    2                 1   21    Male     50000
2    3                 3   23  Female    170000
3    4                 2   22    Male     25000
4    5                 1   17    Male     10000
5    6                25   62    Male   5001000
6    7                19   54  Female    800000
7    8                 2   21  Female      9000
8    9                10   36  Female     61500
9   10                15   54  Female    650000
10  11                 4   26  Female    250000
11  12                 6   29    Male   1400000
12  13                14   39    Male   6000050
13  14                11   40    Male    220100
14  15                 2   23    Male      7500
15  16                 4   27  Female     87000
16  17                10   34  Female    930000
17  18                15   54  Female   7900000
18  19                 2   21    Male     15000
19  20                10   36    Male    330000
20  21                15   54    Male   6570000
21  22                 4   26    Male     25000
22  23                 5   29    Male   6845000
23  24                 1   21  Female      6000
24  25                 4   23  Female      8900
25  26                 3   22  Female     20000
26  27                 1   18    Male      3000
27  28                27   62  Female  10000000
28  29                19   54  Female   5000000
29  30                 2   21  Female      6100
30  31                10   34    Male     80000
31  32                15   54    Male    900000
32  33                20   55  Female   1540000
33  34                19   53  Female   9300000
34  35                16   49    Male   7600000

### Задание №2

Выведите общую информацию об этом датафрейме.

In [4]:
df_employee.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                35 non-null     int64
 1   Experience_Years  35 non-null     int64
 2   Age               35 non-null     int64
 3   Gender            35 non-null     object
 4   Salary            35 non-null     int64
dtypes: int64(4), object(1)
memory usage: 1.5+ KB

### Задание №3

Приведите все названия столбцов к нижнему регистру.

In [5]:
df_employee.columns=df_employee.columns.str.lower()
df_employee

    id  experience_years  age  gender    salary
0    1                 5   28  Female    250000
1    2                 1   21    Male     50000
2    3                 3   23  Female    170000
3    4                 2   22    Male     25000
4    5                 1   17    Male     10000
5    6                25   62    Male   5001000
6    7                19   54  Female    800000
7    8                 2   21  Female      9000
8    9                10   36  Female     61500
9   10                15   54  Female    650000
10  11                 4   26  Female    250000
11  12                 6   29    Male   1400000
12  13                14   39    Male   6000050
13  14                11   40    Male    220100
14  15                 2   23    Male      7500
15  16                 4   27  Female     87000
16  17                10   34  Female    930000
17  18                15   54  Female   7900000
18  19                 2   21    Male     15000
19  20                10   36    Male    330000
20  21                15   54    Male   6570000
21  22                 4   26    Male     25000
22  23                 5   29    Male   6845000
23  24                 1   21  Female      6000
24  25                 4   23  Female      8900
25  26                 3   22  Female     20000
26  27                 1   18    Male      3000
27  28                27   62  Female  10000000
28  29                19   54  Female   5000000
29  30                 2   21  Female      6100
30  31                10   34    Male     80000
31  32                15   54    Male    900000
32  33                20   55  Female   1540000
33  34                19   53  Female   9300000
34  35                16   49    Male   7600000

### Задание №4*

Удалите выбросы по зарплате (salary) при помощи IQR3 (тройной межквартильный интервал). Сохраните в отдельном датафрейме срез без выбросов.

In [6]:
#slojno
Q1 = df_employee['salary'].quantile(0.25)
Q3 = df_employee['salary'].quantile(0.75)

IQR = Q3 - Q1
low = Q1 - 3 * IQR
up = Q3 + 3 * IQR

df_no_vibros = df_employee[(df_employee['salary'] >= low) & (df_employee['salary'] <= up)]
df_no_vibros.head()

   id  experience_years  age  gender  salary
0   1                 5   28  Female  250000
1   2                 1   21    Male   50000
2   3                 3   23  Female  170000
3   4                 2   22    Male   25000
4   5                 1   17    Male   10000

### Задание №5

Из страницы в википедии https://ru.wikipedia.org/wiki/%D0%94%D0%BE%D1%85%D0%BE%D0%B4%D1%8B_%D0%BD%D0%B0%D1%81%D0%B5%D0%BB%D0%B5%D0%BD%D0%B8%D1%8F_%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D0%B8 получите таблицу с данными о среднемесячных доходах в субъектах Сибирского ФО.

In [25]:
url = "https://ru.wikipedia.org/wiki/%D0%94%D0%BE%D1%85%D0%BE%D0%B4%D1%8B_%D0%BD%D0%B0%D1%81%D0%B5%D0%BB%D0%B5%D0%BD%D0%B8%D1%8F_%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D0%B8"
tables = pd.read_html(url)

#for i, table in enumerate(tables):
  #print(f"Таблица {i}:")
  #print(table.head())

sib_fo_income_table = tables[11]

# Выведем данные из таблицы в красивом формате
print("\nТаблица с среднемесячными доходами в субъектах Сибирского ФО:\n")
print(sib_fo_income_table.to_string(index=False))

Таблица с среднемесячными доходами в субъектах Сибирского ФО:

     Субъект                          2015                  2016
     Субъект             Субъект.1 октябрь ноябрь декабрь январь февраль
Сибирский ФО          Сибирский ФО  29 500 29 400  36 500 28 700  28 500
         NaN      Республика Алтай  22 000 21 800  29 000 21 900  22 500
         NaN               Бурятия  29 000 28 700  36 500 28 100  27 800
         NaN                  Тыва  32 500 26 900  38 400 27 300  27 100
         NaN               Хакасия  30 500 28 900  36 900 29 300  29 200
         NaN        Алтайский край  19 900 19 700  24 900 19 200  19 200
         NaN    Забайкальский край  30 300 30 400  39 000 29 800  29 700
         NaN     Красноярский край  35 200 35 500  44 700 35 400  34 700
         NaN     Иркутская область  32 600 32 500  39 600 32 700  31 800
         NaN   Кемеровская область  28 000 27 900  34 000 27 700  27 200
         NaN Новосибирская область  25 700 28 500  34 600 26 600  27 100
         NaN        Омская область  27 700 27 200  34 200 25 800  26 000
         NaN       Томская область  33 100 33 300  41 000 31 700  32 000

### Задание №6

Запишите загруженный датафрейм с доходами в виде таблицы incomes внутри файла sqlite в директории с блокнотом. Не сохраняйте индекс, в случае, если название таблицы уже есть в БД - перепишите эту таблицу.

In [29]:
conn = sqlite3.connect("incomes.db")
sib_fo_income_table.to_sql("incomes", conn, index=False, if_exists="replace")

13

In [30]:
query = "SELECT * FROM incomes"
incomes_df = pd.read_sql(query, conn)
print(incomes_df)

   ('Субъект', 'Субъект') ('Субъект', 'Субъект.1') ('2015', 'октябрь')  \
0            Сибирский ФО             Сибирский ФО              29 500
1                    None         Республика Алтай              22 000
2                    None                  Бурятия              29 000
3                    None                     Тыва              32 500
4                    None                  Хакасия              30 500
5                    None           Алтайский край              19 900
6                    None       Забайкальский край              30 300
7                    None        Красноярский край              35 200
8                    None        Иркутская область              32 600
9                    None      Кемеровская область              28 000
10                   None    Новосибирская область              25 700
11                   None           Омская область              27 700
12                   None          Томская область              33 100

   ('2015', 'ноябрь') ('2015', 'декабрь') ('2016', 'январь')  \
0              29 400              36 500             28 700
1              21 800              29 000             21 900
2              28 700              36 500             28 100
3              26 900              38 400             27 300
4              28 900              36 900             29 300
5              19 700              24 900             19 200
6              30 400              39 000             29 800
7              35 500              44 700             35 400
8              32 500              39 600             32 700
9              27 900              34 000             27 700
10             28 500              34 600             26 600
11             27 200              34 200             25 800
12             33 300              41 000             31 700

   ('2016', 'февраль')
0               28 500
1               22 500
2               27 800
3               27 100
4               29 200
5               19 200
6               29 700
7               34 700
8               31 800
9               27 200
10              27 100
11              26 000
12              32 000